<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Liên Hệ</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet">
    </head>

    <body class="bg-gray-100">
        <header class="text-black bg-white body-font">
            <div
                class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
                <a
                    class="flex title-font font-medium items-center text-black mb-4 md:mb-0"
                    href="/">
                    <img
                        src="{{ url_for('static', filename='images/logo.png') }}"
                        height="50" width="50"
                        style="border-radius: 50%;" />
                    <span class="ml-3 text-xl">Parkpal</span>
                </a>
                <nav
                    class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                    <a class="mr-5 hover:text-gray-900" href="/gioi-thieu">Giới
                        thiệu</a>
                    <a class="mr-5 hover:text-gray-900" href="/lien-he">Liên
                        hệ</a>
                    {% if 'user' in session %}
                    <a class="mr-5 hover:text-gray-900"
                        href="/search_history">Lịch
                        sử ra vào</a>
                    <span class="mr-5">{{ session['user'][1] }}</span>
                    <a class="mr-5 hover:text-gray-900" href="/logout">Đăng
                        xuất</a>
                    {% else %}
                    <a class="mr-5 hover:text-gray-900" href="/login">Đăng
                        nhập</a>
                    <a class="mr-5 hover:text-gray-900" href="/register">Đăng
                        ký</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        <section class="text-gray-600 body-font relative">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-12">
                    <h1
                        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Liên
                        Hệ
                    </h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Liên
                        hệ với chúng tôi để biết thêm thông tin hoặc
                        để đặt câu hỏi.</p>
                </div>
                <div class="lg:w-1/2 md:w-2/3 mx-auto">
                    <div class="flex flex-wrap -m-2">
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="name"
                                    class="leading-7 text-sm text-gray-600">Tên</label>
                                <input type="text" id="name" name="name"
                                    class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>
                        <div class="p-2 w-1/2">
                            <div class="relative">
                                <label for="email"
                                    class="leading-7 text-sm text-gray-600">Email</label>
                                <input type="email" id="email" name="email"
                                    class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            </div>
                        </div>
                        <div class="p-2 w-full">
                            <div class="relative">
                                <label for="message"
                                    class="leading-7 text-sm text-gray-600">Nội
                                    dung</label>
                                <textarea id="message" name="message"
                                    class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                            </div>
                        </div>
                        <div class="p-2 w-full">
                            <button
                                class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Gửi</button>
                        </div>
                        <div
                            class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                            <a class="text-green-500">Parkpal</a><br>
                            <span class="inline-flex">
                                <a class="text-gray-500" href="#"
                                    class="leading-normal my-5">Facebook</a>
                                <span class="mx-2">•</span>
                                <a class="text-gray-500" href="#"
                                    class="leading-normal my-5">Twitter</a>
                                <span class="mx-2">•</span>
                                <a class="text-gray-500" href="#"
                                    class="leading-normal my-5">Instagram</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>
